@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text: hsl(312, 45%, 98%);
    --background: hsl(0, 0%, 0%);
    --primary: hsl(352, 49%, 54%);
    --secondary: hsl(20, 48%, 6%);
    --accent: hsl(22, 49%, 46%);
}


body{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lugrasimo', cursive;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 3em;
    background: hsl(0, 0%, 10%);
    border-radius: 1em;
    text-align: center;
}

.container h2 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: .7px;
    word-spacing: 1.5px;
    margin-bottom: .6em;
}

.container h2 .r {
    color: var(--accent);
}

.container h2 .p {
    color: var(--primary);
}

.container h2 .s {
    color: var(--accent);
}


/* Game section */

.game {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    color: hsl(20, 48%, 86%);
}

img {
    width: 100px;
    margin-top: .8em;
}

button {
    margin-top: 3em;
    font-size: 1em;
    font-weight: bolder;
    color: black;
    background-color: var(--accent);
    border: none;
    padding: .3em 1em;
    border: 2px solid white;
    outline: 3px solid black;
    border-radius: 5em;
    cursor: pointer;
}

.container p {
    margin-top: 1.6rem;
    font-size: 2em;
    color: hsl(80.86deg 74.96% 37.17%);
}